<mat-toolbar class="container-fluid body-color d-flex justify-content-center flex-column text-center" style="height: 100%">
    <div>
        <img [src]="welcomeImg" width="150" style="margin-top: -260px !important;" alt="">
    </div>
    <span>
        <h1 class="fw-bold fs-1">¡Bienvenido a <span style="color: #3f51b5">Licor Express</span>! </h1> 
        <p>Gracias por confiar en nosotros
            para registrar tus productos de licorería.</p> ¡Disfruta de nuestra
        plataforma fácil de usar y accesible las<span style="color: #3f51b5" class="fw-bold"> 24 horas</span>!
    </span>
</mat-toolbar>